.banner{
    color: white;
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 30.5rem;
    background: #e9e9ef;
    position: relative;
    @include bp(desktop-big){
        height: 42rem;
    }
    @include bp(desktop){
        height: 39rem;
    }
    @include bp(desktop-1){
        height: 32.5rem;
    }
    @include bp(laptop){
        height: 31rem;
    }
    @include bp(laptop-1){
        height: 26.5rem;
    }

    .welcome-text{
        background-color: #142c41;
        display: flex;
        align-items: center;
        padding: 3rem 5rem;
        min-width: 0px;
        position: relative;

        h1{
            font-size: 2.3rem;
            @include bp(desktop-big){
                font-size: 3.5rem;
            }
            @include bp(desktop){
                font-size: 3.4rem;
            }
            @include bp(laptop){
                font-size: 2rem;
            }
            @include bp(laptop-1){
                font-size: 1.5rem;
            }
            padding: 1.1rem 0rem;
            line-height: 1.73;
            position: relative;
        }

        p{
            padding: 1rem 0rem;
            position: relative;
            margin: 1rem 0rem;

            &:before{
                position: absolute;
                content: "";
                width: 8%;
                height: 80%;
                opacity: 0.09;
                border: solid 1px #979797;
                background-color: #d8d8d8;
                transform: skew(-40deg);
                left: -2rem;
                top: -18rem;
                @include bp(laptop-1){
                    top: -15rem;
                }
            }

            &:after{
                position: absolute;
                content: "";
                width: 10%;
                height: 162%;
                opacity: 0.03;
                background-color: #d8d8d8;
                transform: skew(-40deg);
                left: -2.1rem;
                top: -18.5rem;
                @include bp(laptop-1){
                    left: -2.1rem;
                    top: -15.5rem;
                }

            }
        }

        .item{
            position: relative;
            padding: 3rem 0rem;
            margin: 2rem 0rem;

            @include bp(laptop-1){
                margin: 1.5rem 0rem;
            }

            a{
                text-decoration: none;
                color: white;
                padding: 1rem 2rem;
                box-shadow: 0 2px 32px 0 rgba(33, 33, 33, 0.21);
                background-color: #0091ff;
                font-size: 1rem!important;
                @include bp(desktop-big){
                    padding: 1.5rem 4rem;
                    font-size: 1.5rem!important;
                }
                @include bp(laptop-1){
                    font-size: 0.7rem!important;
                }

                &:after{
                    content: ' \2192';
                    font-size: 1.3rem;
                    @include bp(desktop-big){
                        font-size: 2.3rem;
                    }
                }
            }

            &:after{
                position: absolute;
                content: "";
                width: 15%;
                height: 55%;
                bottom: -1.8rem;
                right: -9.8rem;
                opacity: 0.09;
                border: solid 1px #979797;
                background-color: #d8d8d8;
                @include bp(laptop){
                    bottom: -2.5rem;
                    right: -11.5rem;
                }
                @include bp(laptop-1){
                    height: 58%;
                    right: -9.5rem;
                    bottom: -2rem;
                }
            }

            &:before{
                position: absolute;
                content: "";
                width: 12%;
                height: 44%;
                opacity: 0.09;
                border: solid 1px #979797;
                background-color: #d8d8d8;
                transform: skew(-40deg);
                right: 0.8rem;
                top: 2.8rem;
            }
        }
        
        .rectangle-1{
            position: absolute;
            content: "";
            width: 6%;
            height: 15%;
            opacity: 0.05;
            border: solid 1px #979797;
            background-color: #d8d8d8;
            transform: skew(-40deg);
            bottom: 1.5rem;
            left: 3rem;
            @include bp(laptop-1){
                left: 2.3rem;
            }
        }

        .rectangle-3{
            position: absolute;
            content: "";
            width: 5%;
            height: 15%;
            opacity: 0.09;
            border: solid 1px #979797;
            background-color: #d8d8d8;
            transform: skew(-40deg);
            left: 0rem;
            bottom: 0rem;
        }
        
    }

    .img-container{

        position: relative;

        background-color: #e8f9ff;
        .img-wrapper{
        
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -100px;
            position: relative;
    
            img{
                display: none;
    
                &:nth-child(1){
                    width: 80%;
                    height: auto;
                    margin-left: 50px;
                    border: 1px solid #005abb;
                    padding: 5px;
                    border-top-left-radius: 2em;
                    border-bottom-right-radius: 2em;
    
                }
    
                &:nth-child(2){
                    position: absolute;
                    bottom: -50px;
                    left: 0;
                    width: 40%;
                    height: auto;
                }
    
                &:nth-child(3){
                    position: absolute;
                    bottom: -58px;
                    left: 60%;
                    width: 40%;
                    height: auto;
                }
    
            }
    
            .zoomIn {
                display: block;
                box-shadow: 0 8px 16px 0 rgba(182, 182, 182, 0.1);
                animation: animateZoom 0.6s;
    
                @keyframes animateZoom{
                    from {
                        transform: scale(0);
                    }
                    to {
                        transform: scale(1);
                    }
                }
            }
    
        }

        &:before{
            position: absolute;
            content: "";
            width: 18%;
            height: 24%;
            opacity: 0.09;
            background-color: #0868be;
            transform: skew(-43deg);
            right: 8rem;
            @include bp(laptop-1){
                height: 28%;
            }
        }
    }

    .rectangle{
        position: absolute;
        content: "";
        width: 4%;
        height: 24%;
        opacity: 0.09;
        background-color: #0868be;
        transform: skew(-44deg);
        right: 21.1rem;
        bottom: 1.5rem;
        @include bp(laptop-1){
            right: 17.2rem;
            bottom: -1rem;
        }
    }

    .rectangle-2{
        position: absolute;
        content: "";
        width: 4%;
        height: 36%;
        opacity: 0.09;
        background-color: #0868be;
        transform: skew(-44deg);
        right: 2.5rem;
        bottom: 10.5rem;
    }
}